*{
  margin: 0 ;
}
.main{
  width: 1100px;
}
/* navigation Bar */
.navbar {
 position: absolute;
 text-align: center;
 margin:0px;
 left: 0;
}
ul li {
  display: inline-block;
  margin-left: 15px;
  margin-top: 5px;
  font-size: 30px;
}
 li a{
  color:black;
  text-decoration: none;
  font-family: 'EB Garamond', serif;
}
ul li:hover{
  text-decoration: underline;
  font-size: 35px;
  transition: linear 0.5s;
 }
.content p {
  text-align: right;
  margin-bottom: 15px;
}
.content{
  width: 600px;
  height: 700px;
  background-color: white;
  height:900px;
  display: inline-block;
  position: relative;
 }
#myBtn{
  border-radius: 30%;
}
/* First Name */
.content h1 {
  font-size: 84px;
  font-family: 'EB Garamond', serif;
  color:black;
  width: 500px;
  height: 50px;
  margin-top: 200px;
  margin-left: 580px;
  position: absolute;
  z-index: 99;
  font-weight: bold;
  animation: move 5s forwards;
 }
 @keyframes move {
   0% {  left: -1200px; }
  100% { left: -400px; }
}

/* Last name */
.content h2 {
  font-size: 84px;
  font-family: 'EB Garamond', serif;
  color:black;
  width: 500px;
  height: 50px;
  margin-top: 280px;
  margin-left: 580px;
  position: absolute;
  z-index: 99;
  font-weight: bold;
  animation: moveMe 5s forwards;
 }
  @keyframes moveMe {
   0% {  right: -1200px; }
  100% { right: -110px; }
}

/* About Me - paragrapf + picture */
 .content p{
  margin-top: 550px;
  font-size: 25px;
  text-align: center;
 }
#picture{
  position: absolute;
  display: inline-block;
}
#picture img{
  width: 685px;
  height: 900px;
  filter: grayscale(100%);
}

/* Projects Section */
.projects{
  width: 100%;
  text-align: center;
  padding: 5px;
}

#project1, #project2, #project3, #project4, #project5, #project6{
  width: 33%;
  height: 300px;
  display: inline-block;
  color:white;
  overflow: hidden;
  position: relative;
  filter: grayscale(100%);
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
}
#project1{
  background: url("images/project1.png") no-repeat; 
  background-position: center;
  background-size: 480px 400px ;
  transition: 0.5s ease;
}
#project2{
  background: url("images/project2.png"); 
  background-position: center;
  background-size: 490px 440px ;
}
#project3{
  background: url("images/project3.png");
  background-position: center;
  background-size: 480px 400px ; 
}
#project4{
  background: url("images/project4.png"); 
  background-position: center;
  background-size: 480px 400px ;
}
#project5{
  background: url("images/smile.jpg"); 
  background-position: center;
  background-size: 480px 400px ;
}
#project6{
  background: url("images/smoke.jpeg"); 
  background-position: center;
  background-size: 480px 400px ;
}
.projects #project1:hover, .projects #project3:hover, .projects #project2:hover,
 .projects #project4:hover, .projects #project5:hover, .projects #project6:hover{
  filter: grayscale(0);
  transition: 1s ease-in-out;
  opacity: 1;
}
#project1 p, #project2 p, #project3 p, #project4 p, #project5 p, #project6 p  {
  font-size: 25px;
}
.project_name{
  margin-top: 50px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  letter-spacing: .1em;
}
.link_icon i{
opacity: 0;
}
#project1:hover i, #project2:hover i, #project3:hover i, #project4:hover i, #project5:hover i, #project6:hover i{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  transition: linear 0.5s;
  }
#project1:hover p, #project2:hover p, #project3:hover p, #project4:hover p, #project5:hover p, #project6:hover p {
  opacity: 0;
  transition: linear 0.5s; 
}
.title{
  font-size: 10px;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5);   */
}
.title :hover{
  display: none;
}
 .link_icon i {
  font-size: 20px;
  color: white;
  margin-top: 20px;
 } 
 
/* Skills section */
.skills{
  margin-top: 50px;
  font-size: 50px;
  text-align: center;
}
 .skill_pic{
  width: 90px;;
  height: 120px; 
}  
.skill_col_1{
  margin-top: 50px;
  width: 800px;;
  height: 500px;
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap; 
  margin-left: 250px;
}
.js, .html, .css, .node, .ruby, .rails, .ajax, .sql, .express, .react, .jquery, .heroku{
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  filter: grayscale(100%);  
}
.js:hover ,.html:hover, .css:hover, .node:hover, .ruby:hover, .rails:hover, .ajax:hover, .sql:hover, .express:hover, .react:hover, .jquery:hover, .heroku:hover{
  filter: grayscale(0);
  transition: 1s ease-in-out;
}
.html, .css, .node, .ruby, .rails, .ajax, .sql, .express, .react, .jquery, .heroku{
  margin-top: 20px;
  margin-left: 35px; 
}
 #html, #css{
  width: 65px;
  height: 70px;
}
#js{
  width: 60px;
  height: 65px;
}
#postgresql{
  height: 85px;
  width: 70px;
}
#rubyonrails{
  width: 85px;
  height: 80px;;
}
#express{
  width: 80px;
  height: 80px;
}
#ajax{
   width:85px;
   height: 80px;
 }
#ruby{
  width: 60px;
  height:75px; 
}
 #react{
  width: 80;
  height: 70 ; 
 } 
 #heroku {
  width: 80px;
  height: 75px;
  padding-right: 10px;
}
#nodejs {
  width: 80px;
  height: 75px;
}
.pic{
  width: 70px;
  height: 80px;
}
#paragrapf p{
  float: left;
  padding: 5px;
}

.clearfix :before ,
.clearfix :after{
  display: inline-block;
  content: " ";
  clear: both;
}

/* Footer icons */
.fcontent{
  width: 100%;
  height: 40px;
  padding-top:40px;
  text-align: center;
}
.fa{
  border-radius: 50%;
}
.project_name{
  font-size: 20px;
  left: 10px; 
  top: 100px; 
  transition: top 0.2s linear; 
  color: #fff; 
  font: 24px Arial; 
  text-transform: uppercase; 
  letter-spacing: -1px;
}
.project_p{
  position: absolute;
  top: 30px;
}

.col_2{
  display: flex;
  flex-direction: column;
}

/* The Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 799px; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:black;
    text-decoration: none;
    cursor: pointer;
}
